<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load staticfiles %}
</head>
<body>
<input type="text" id="name" placeholder="name"/>
<button id="login">login</button>

<script src="{% static 'js/jquery-2.2.0.min.js' %}"></script>
<script src="{% static 'js/login.js' %}"></script>
</body>
</html>