<!DOCTYPE html>
{#<html lang="en">#}
<head>
    <meta charset="UTF-8">
    <title>ToDO</title>
    {% load staticfiles %}
    <link href="{% static 'css/bootstrap/bootstrap.css' %}">
    <link href="{% static 'css/bootstrap/bootstrap-theme.min.css' %}">
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
</head>
<body>
<div id="main">
    <h1 id="title">To Do List</h1>
    <div id="tasks">
        {% for task in tasks %}
            <div class="task">
                {% if task.is_checked == True %}
                    <div class="check_boxes checked">
                        <img class="V-check" src="{% static 'image/V.png' %}"/>
                    </div>
                {% else %}
                    <div class="check_boxes"></div>
                {% endif %}
                <span class="tasks_text">{{ task.the_task }}</span>
                <img class="trash" src="{% static 'image/trash.jpg' %}"/>
            </div>
        {% endfor %}
    </div>
    <div id="add_task">
        + Add Task
    </div>
    <div id="task_form">
        <input type="text" id="the_task" placeholder="write your task here"/>
        <button id="save_task">save</button>
        <button id="cancel_task" style="position: relative; left: 30%">cancel</button>
    </div>
    <button id="logout">logout</button>
</div>
</div>
<script src="{% static 'js/jquery-2.2.0.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>