#main{
    position: absolute;
    top: 50px;
    right: 30%;
    left: 30%;
    text-align: center;
}

#title{
    color: black;
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    margin-bottom: 10%;
}

.task{
    font-size: 20px;
    color: black;
    margin-bottom: 3%;
    width: 50%;
    position: relative;
    left: 37%;
    display: run-in;
}

#add_task{
    color: blue;
    font-size: 30px;
    margin-top: 5%;
}

#add_task:hover{
    cursor: pointer;
}

.check_boxes{
    border: 2px solid black;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    float: left;
    display: inline-block;
}

.check_boxes:hover{
    cursor: pointer;
}

.checked{
    color: slategray;
}

.tasks_text{
    position: relative;
    bottom: 3%;
    margin-right: 10%;
    float: left;
    margin-left: 10%;
}

img{
    height: 30px;
    width: 30px;
    position: relative;
    bottom: 7px;
}

.V-check{
    position: relative;
    bottom: 80%;
    height: 25px;
    width: 25px;
}

#task_form{
    display: none;
}

button{
    height: 40px;
    width: 90px;
    position: relative;
    left: 20%;
}

#the_task{
    border: 2px solid black;
    border-radius: 5px;
    height: 40px;
    width: 300px;
    font-size: 30px;
    text-align: center;
}

.trash:hover{
    cursor: pointer;
}

#logout{
    width: 60px;
    position: relative;
    top: 50px;
    left: 0px;
}
